config/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="configType"/>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="serveurSQLType" name="serveurSQL"/>
      <xs:element type="siteType" name="site"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="siteType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="url"/>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="password"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serveurSQLType">
    <xs:sequence>
      <xs:element type="xs:string" name="server"/>
      <xs:element type="xs:string" name="database"/>
      <xs:element type="xs:string" name="login"/>
      <xs:element type="xs:string" name="password"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>